// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

$date-color:        rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  .date {
    color: $date-color;
  }

  .time {
    letter-spacing: 2px;
  }

}
